<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 구글맵 사용할 때 인터넷&위치 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 갤러리 접근 권한을 위해 read, write!! -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.People_Here"
        tools:targetApi="31">
        <activity
            android:name=".Login.LoginEmailNextActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginEmailActivity"
            android:exported="false" />
        <activity
            android:name=".Login.VerifyPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.CalendarActivity"
            android:exported="false"/>
        <activity
            android:name=".Profile.CourseDateActivity"
            android:exported="false"/>
        <activity
            android:name=".Profile.CourseManageFalseActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.CourseManageTrueActivity"
            android:exported="false" />
        <activity
            android:name=".MakingTour.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".CourseContents.CourseContentsActivity"
            android:exported="false" />
        <activity
            android:name=".Main.MainCourseMapActivity"
            android:exported="false" />
        <activity
            android:name=".Login.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".TitleCategory.TitleActivity"
            android:exported="false" />
        <activity
            android:name=".TitleCategory.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AddPicture.CustomAlbumActivity"
            android:exported="false" />
        <activity
            android:name=".AddPicture.AddPictureActivity"
            android:exported="false" /> <!-- 구글맵 api키 추가해서 사용함 -->
        <activity android:name=".AddPicture.AddPictureAdapter">

            <!-- 필요한 인텐트 필터 및 설정 추가 -->
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3WLa8PNBaMOK2OQm1U64Hb6RetEu-E1g" />

        <activity
            android:name=".IntroduceCaution.CautionActivity"
            android:exported="false" />
        <activity
            android:name=".IntroduceCaution.IntroduceActivity"
            android:exported="false" />
        <activity
            android:name=".CostInput.CostInputActivity"
            android:exported="false" />
        <activity android:name=".Main.MainSearchActivity" />
        <activity android:name=".MakingTour.MakingTourAddListActivity" />
        <activity android:name=".MakingTour.MakingTourTimeActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>